<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>DynamicWebTWAINService</string>
	<key>CFBundleIdentifier</key>
	<string>com.dynamsoft.dwt_19.1.0.0514</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>Dynamic Web TWAIN Service  HTML5 Mac(64Bit)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.9.0</string>
	<key>LSMinimumSystemVersion</key>
	<string></string>
	<key>LSUIElement</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIconFile</key>
	<string>EasyImageCapture</string>
	<key>NSHumanReadableCopyright</key>
	<string>(0515) Copyright 2025 Dynamsoft.</string>
</dict>
</plist>
